@media screen and (max-width:62.5) {
    .colors{
        &__color{
            width: 14rem;
        
        &:hover .colors__circle{
            transform: none;
        }

        }

    }
}

@media screen and (max-width: 50rem) {
    body{
        padding: 2rem;
    }
    
    .colors{
        
        &__color{
            width: 12 rem;
        }
    }
}